.brand {
    color: black;
}

.logo {
    width: 30%;
    height: auto;
    padding: 50px;
    margin-left: 10rem;
}

button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.4rem 0.5rem;
}

button:hover {
    background: white;
    color: rgb(77, 64, 177);
    cursor: pointer;
}


.api {
    border: solid 2px black;
    border-radius: 7px;
    background-color: #387f42;
    display: flex;
    justify-content: center;
    margin-left: 10rem;

}

.card-spacing {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
  }
  