@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");

.artist-name {
  text-transform: Uppercase;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  color: #e4e5e6;
  margin: 5px;
}

.artist-name {
  position: relative;
  background: linear-gradient(to right, #8e8ed2, #1f2f4d, #221686);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.artist-genre {
  text-transform: Uppercase;
  margin-bottom: 0.5em;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  color: #e4e5e6;
  margin: 5px;
}

.artist-genre {
  position: relative;
  background: linear-gradient(to right, #8e8ed2, #1f2f4d, #221686);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .card-spacing {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
} */


/* .artist-name:before,
.artist-name:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.artist-name:before {
  z-index: -1;
  text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, 0.15);
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.artist-name:after {
  z-index: -2;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
} */